body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  display: block;
  margin: auto;
}

.image {
  align-content: center;
  padding: 20px;
  box-sizing: content-box;
}

.container {
  box-shadow: 5px 4px 10px black;
}

.rigth {
  padding: 10px;
  box-sizing: border-box;
  background-color: rgb(186, 20, 26);
  color: aliceblue;
}

.btn-1 {
  display: block;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(186, 20, 26);
  box-shadow: 0px 0px 15px #545353;
  width: 90%;
  height: 35px;
}

.btn-1 {
  cursor: pointer;
  color: rgb(246, 239, 239);
  font-weight: bold;
}

.links {
  display: block;
  padding: 5px;
  justify-content: space-between;
}

/* .video{
    display: block;
    margin: auto;
    position: relative;
    padding: 10px;
    margin: auto;
} */

@media only screen and (min-height: 768px) and (min-width: 500px) {

  /* For desktop: */
  .container {
    min-height: 770px;
  }

  .rigth {
    height: 100% !important;
  }

  .btn-1 {
    font-size: 17px !important;
  }
}

@media only screen and (min-width: 500px) {

  /* For desktop: */
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}


@media only screen and (min-width: 413px) {

  /* For desktop: */
  .container {
    height: 470px;
  }

  .rigth {
    height: inherit;
  }

  .btn-1 {
    font-size: 13px;
  }

}

@media only screen and (max-width: 500px) {
  img {
    width: -webkit-fill-available;
  }

  .btn-1 {
    font-size: 15px;
  }
}